<header class="header">
	<div class="header__container">
		<div class="header__body">
			<a class="header__logo" href="index.html">Logo</a>
			<nav class="header__menu header-menu">
				<div class="header-menu__wrapper">
					<ul>
						<li class="header-menu__item"><a href="#footer">Link #1</a></li>
						<li class="header-menu__item"><a href="#footer">Link #2</a></li>
					</ul>
				</div>
			</nav>
			<div class="header__burger burger">
				<div class="burger__wrapper">
					<span></span>
				</div>
			</div>
		</div>
		<div data-to-hide class="header__bottom">
			<p>Some content to hide on scroll</p>
		</div>
	</div>
</header>