<div class="contact-pop-up">
  <div class="contact-pop-up__body">
    <form class="contact-pop-up__form">
      <div class="contact-pop-up__head">
        <button
          type="button"
          class="contact-pop-up__close"
        >
          <svg
            width="29"
            height="27"
            viewBox="0 0 29 27"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <line
              x1="2.70711"
              y1="1.29289"
              x2="27.4558"
              y2="26.0416"
              stroke="#1B1B1B"
              stroke-width="2"
            />
            <line
              x1="1.29289"
              y1="26.0419"
              x2="26.0416"
              y2="1.29318"
              stroke="#1B1B1B"
              stroke-width="2"
            />
          </svg>
        </button>
        <h6 class="contact-pop-up__title">Get in <span>Touch</span></h6>
        <p class="contact-pop-up__text">
          Feel free to reach out with any question you have. <br />
          I will get back to you as soon as I can.
        </p>
      </div>
      <div class="contact-pop-up__content">
        <div class="contact-pop-up__fields">
          <input
            required
            class="contact-pop-up__field"
            type="text"
            name="name"
            placeholder="your name"
            minlength="1"
            value="asd"
          />
          <input
            required
            class="contact-pop-up__field"
            type="email"
            name="email"
            placeholder="your email"
            value="asd@gmail.com"
          />
          <textarea
            required
            class="contact-pop-up__field contact-pop-up__field_area"
            name="message"
            placeholder="message"
            minlength="10"
          >
asd asd asd asd a</textarea
          >
        </div>
        <button
          type="submit"
          class="contact-pop-up__submit"
        >
          submit
        </button>
      </div>
    </form>
  </div>
</div>
