<div
  class="work-item"
  data-pop-up
>
  <div class="work-item__body">
    <button
      type="button"
      class="work-item__close"
      data-pop-up-close
    >
      <svg
        width="29"
        height="27"
        viewBox="0 0 29 27"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="2.70711"
          y1="1.29289"
          x2="27.4558"
          y2="26.0416"
          stroke="#1B1B1B"
          stroke-width="2"
        />
        <line
          x1="1.29289"
          y1="26.0419"
          x2="26.0416"
          y2="1.29318"
          stroke="#1B1B1B"
          stroke-width="2"
        />
      </svg>
    </button>
    <div class="work-item__content">
      <h5 class="work-item__title">@@title</h5>
      <p class="work-item__text main-text">@@text</p>
      <ul class="work-item__list">
        @@list
      </ul>
      <div class="work-item__image">
        <img
          src="./img/@@img"
          alt="@@title"
        />
      </div>
      <button
        type="button"
        class="work-item__button button-transparent button"
        data-form-open
      >
        Start a Project
      </button>
    </div>
  </div>
</div>
