%pl {
   padding-left: 22px;
}
%pr {
   padding-right: 22px;
}
%pt {
   padding-top: 11px;
}
%pb {
   padding-bottom: 11px;
}
%rd {
   border-radius: 10px;
}

.spoiler {
   &__preview {
      cursor: pointer; // ! Либо писать в стилях - либо есть готовая функция в джсе (но лучше стилях)
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 8px;
   }
   &__icon {
      transition: all 0.3s ease;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &[data-spoiler],
   &[data-accordion] {
      width: auto;
      @extend %pl;
      @extend %pr;
      @extend %pt;
      @extend %pb;
      @extend %rd;
      background-color: $dark;
      color: $light;
      path {
         fill: $light;
      }
   }
   &[data-spoiler-absolute] {
      position: relative;
      max-width: max-content;
      @extend %pt;
      @extend %pb;
      .spoiler {
         path {
            fill: $dark;
         }
         &__wrapper {
            position: absolute;
            z-index: 1;
            top: 100%;
            right: 0;
            @extend %pl;
            @extend %pr;
            @extend %rd;
            white-space: nowrap;
            background-color: #fff;
            box-shadow: 0 0 3px $dark;
         }
      }
   }
   &__wrapper {
      height: 0; // ! Либо писать в стилях - либо есть готовая функция в джсе (но лучше стилях)
      overflow: hidden; // ! Либо писать в стилях - либо есть готовая функция в джсе (но лучше стилях)
      transition: all 0.5s ease; // ! Либо писать в стилях - либо есть готовая функция в джсе (но лучше стилях)
   }
   &__body {
      @extend %pt;
      @extend %pb;
   }
   &.opened {
      .spoiler {
         &__icon {
            transform: rotate(180deg);
         }
      }
   }
}
