<div class="marquee">
	<div class="marquee__wrapper">
		<div class="marquee__item marquee__item_colored">
			<!-- @@text -->
			<div class='marquee__image'>
				<picture>
					<source type='image/webp' srcset='@img/product.webp'>
					<img src='@img/product.png' alt='image'>
				</picture>
			</div>
			<div class='marquee__image'>
				<picture>
					<source type='image/webp' srcset='@img/gift_1.webp'>
					<img src='@img/gift_1.png' alt='image'>
				</picture>
			</div>
			<div class='marquee__image'>
				<picture>
					<source type='image/webp' srcset='@img/gift_1.webp'>
					<img src='@img/gift_1.png' alt='image'>
				</picture>
			</div>
		</div>
		<div class="marquee__item">
			<!-- @@text -->
			<div class='marquee__image'>
				<picture>
					<source type='image/webp' srcset='@img/product.webp'>
					<img src='@img/product.png' alt='image'>
				</picture>
			</div>
			<div class='marquee__image'>
				<picture>
					<source type='image/webp' srcset='@img/gift_1.webp'>
					<img src='@img/gift_1.png' alt='image'>
				</picture>
			</div>
			<div class='marquee__image'>
				<picture>
					<source type='image/webp' srcset='@img/gift_1.webp'>
					<img src='@img/gift_1.png' alt='image'>
				</picture>
			</div>
		</div>
	</div>
</div>